<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- There should be a file called SharedConfiguration.config in the folder /Configuration. -->
	<!-- If you have not configured it there should be an original file in the same folder called SharedConfiguration.original.config. -->
	<connectionStrings configSource="SharedConfiguration.config" />

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>