<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<!-- Rename this file SharedConfiguration.config and fill out your personal copy of the shared connection strings. -->

	<!-- This is the primary Azure Storage Account you will use for your demos! -->
	<!-- Create your account in Azure before demoing! -->
	<add name="Azure Storage Account Demo Primary" connectionString="DefaultEndpointsProtocol=https;AccountName={youraccountname};AccountKey={youraccountkey}" />

	<add name="Azure SQL Database Demo" connectionString="metadata=res://*/SqlDatabase.ProductsModel.csdl|res://*/SqlDatabase.ProductsModel.ssdl|res://*/SqlDatabase.ProductsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source={yourdatabase}.database.windows.net;initial catalog=AdventureWorksProducts;persist security info=True;user id={yourusername};password={yourpassword};MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

	<add name="Azure DocumentDB Demo" connectionString="endpoint|{yourendpoint};authkey|{yourdoauthkey}"/>

</connectionStrings>