USE [master]
GO
/****** Object:  Database [AdventureWorksProducts]    Script Date: 2015-01-22 16:06:58 ******/
CREATE DATABASE [AdventureWorksProducts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AdventureWorksProducts_Data', FILENAME = N'C:\SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\AdventureWorksProducts.mdf' , SIZE = 129216KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AdventureWorksProducts_Log', FILENAME = N'C:\SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\AdventureWorksProducts.ldf' , SIZE = 39296KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AdventureWorksProducts].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [AdventureWorksProducts]
GO
/****** Object:  UserDefinedDataType [dbo].[Name]    Script Date: 2015-01-22 16:06:58 ******/
CREATE TYPE [dbo].[Name] FROM [nvarchar](50) NULL
GO
/****** Object:  Table [Dbo].[Culture]    Script Date: 2015-01-22 16:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dbo].[Culture](
	[CultureID] [nchar](6) NOT NULL,
	[Name] [dbo].[Name] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL CONSTRAINT [DF_Culture_ModifiedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_Culture_CultureID] PRIMARY KEY CLUSTERED 
(
	[CultureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Dbo].[Product]    Script Date: 2015-01-22 16:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [dbo].[Name] NOT NULL,
	[ProductNumber] [nvarchar](25) NOT NULL,
	[Color] [nvarchar](15) NULL,
	[StandardCost] [money] NOT NULL,
	[ListPrice] [money] NOT NULL,
	[Size] [nvarchar](5) NULL,
	[SizeUnitMeasureCode] [nchar](3) NULL,
	[WeightUnitMeasureCode] [nchar](3) NULL,
	[Weight] [decimal](8, 2) NULL,
	[DaysToManufacture] [int] NOT NULL,
	[ProductLine] [nchar](2) NULL,
	[Class] [nchar](2) NULL,
	[Style] [nchar](2) NULL,
	[ProductSubcategoryID] [int] NULL,
	[ProductModelID] [int] NULL,
	[SellStartDate] [datetime] NOT NULL,
	[SellEndDate] [datetime] NULL,
	[DiscontinuedDate] [datetime] NULL,
	[rowguid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Product_rowguid]  DEFAULT (newid()),
	[ModifiedDate] [datetime] NOT NULL CONSTRAINT [DF_Product_ModifiedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_Product_ProductID] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Dbo].[ProductCategory]    Script Date: 2015-01-22 16:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dbo].[ProductCategory](
	[ProductCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [dbo].[Name] NOT NULL,
	[rowguid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_ProductCategory_rowguid]  DEFAULT (newid()),
	[ModifiedDate] [datetime] NOT NULL CONSTRAINT [DF_ProductCategory_ModifiedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_ProductCategory_ProductCategoryID] PRIMARY KEY CLUSTERED 
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Dbo].[ProductDescription]    Script Date: 2015-01-22 16:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dbo].[ProductDescription](
	[ProductDescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](400) NOT NULL,
	[rowguid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_ProductDescription_rowguid]  DEFAULT (newid()),
	[ModifiedDate] [datetime] NOT NULL CONSTRAINT [DF_ProductDescription_ModifiedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_ProductDescription_ProductDescriptionID] PRIMARY KEY CLUSTERED 
(
	[ProductDescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Dbo].[ProductModel]    Script Date: 2015-01-22 16:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dbo].[ProductModel](
	[ProductModelID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [dbo].[Name] NOT NULL,
	[CatalogDescription] [xml] NULL,
	[Instructions] [xml] NULL,
	[rowguid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_ProductModel_rowguid]  DEFAULT (newid()),
	[ModifiedDate] [datetime] NOT NULL CONSTRAINT [DF_ProductModel_ModifiedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_ProductModel_ProductModelID] PRIMARY KEY CLUSTERED 
(
	[ProductModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [Dbo].[ProductModelProductDescriptionCulture]    Script Date: 2015-01-22 16:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dbo].[ProductModelProductDescriptionCulture](
	[ProductModelID] [int] NOT NULL,
	[ProductDescriptionID] [int] NOT NULL,
	[CultureID] [nchar](6) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL CONSTRAINT [DF_ProductModelProductDescriptionCulture_ModifiedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_ProductModelProductDescriptionCulture_ProductModelID_ProductDescriptionID_CultureID] PRIMARY KEY CLUSTERED 
(
	[ProductModelID] ASC,
	[ProductDescriptionID] ASC,
	[CultureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Dbo].[ProductReview]    Script Date: 2015-01-22 16:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dbo].[ProductReview](
	[ProductReviewID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ReviewerName] [dbo].[Name] NOT NULL,
	[ReviewDate] [datetime] NOT NULL CONSTRAINT [DF_ProductReview_ReviewDate]  DEFAULT (getdate()),
	[EmailAddress] [nvarchar](50) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comments] [nvarchar](3850) NULL,
	[ModifiedDate] [datetime] NOT NULL CONSTRAINT [DF_ProductReview_ModifiedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_ProductReview_ProductReviewID] PRIMARY KEY CLUSTERED 
(
	[ProductReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Dbo].[ProductSubcategory]    Script Date: 2015-01-22 16:06:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dbo].[ProductSubcategory](
	[ProductSubcategoryID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategoryID] [int] NOT NULL,
	[Name] [dbo].[Name] NOT NULL,
	[rowguid] [uniqueidentifier] NOT NULL CONSTRAINT [DF_ProductSubcategory_rowguid]  DEFAULT (newid()),
	[ModifiedDate] [datetime] NOT NULL CONSTRAINT [DF_ProductSubcategory_ModifiedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_ProductSubcategory_ProductSubcategoryID] PRIMARY KEY CLUSTERED 
(
	[ProductSubcategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [Dbo].[Culture] ([CultureID], [Name], [ModifiedDate]) VALUES (N'      ', N'Invariant Language (Invariant Country)', CAST(N'2002-06-01 00:00:00.000' AS DateTime))
INSERT [Dbo].[Culture] ([CultureID], [Name], [ModifiedDate]) VALUES (N'ar    ', N'Arabic', CAST(N'2002-06-01 00:00:00.000' AS DateTime))
INSERT [Dbo].[Culture] ([CultureID], [Name], [ModifiedDate]) VALUES (N'en    ', N'English', CAST(N'2002-06-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [Dbo].[Product] ON 

GO
SET IDENTITY_INSERT [Dbo].[Product] OFF
SET IDENTITY_INSERT [Dbo].[ProductCategory] ON 

INSERT [Dbo].[ProductCategory] ([ProductCategoryID], [Name], [rowguid], [ModifiedDate]) VALUES (1, N'Bikes', N'cfbda25c-df71-47a7-b81b-64ee161aa37c', CAST(N'2002-06-01 00:00:00.000' AS DateTime))
INSERT [Dbo].[ProductCategory] ([ProductCategoryID], [Name], [rowguid], [ModifiedDate]) VALUES (2, N'Components', N'c657828d-d808-4aba-91a3-af2ce02300e9', CAST(N'2002-06-01 00:00:00.000' AS DateTime))
INSERT [Dbo].[ProductCategory] ([ProductCategoryID], [Name], [rowguid], [ModifiedDate]) VALUES (3, N'Clothing', N'10a7c342-ca82-48d4-8a38-46a2eb089b74', CAST(N'2002-06-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [Dbo].[ProductCategory] OFF
SET IDENTITY_INSERT [Dbo].[ProductDescription] ON 

INSERT [Dbo].[ProductDescription] ([ProductDescriptionID], [Description], [rowguid], [ModifiedDate]) VALUES (3, N'Chromoly steel.', N'301eed3a-1a82-4855-99cb-2afe8290d641', CAST(N'2007-06-01 00:00:00.000' AS DateTime))
INSERT [Dbo].[ProductDescription] ([ProductDescriptionID], [Description], [rowguid], [ModifiedDate]) VALUES (4, N'Aluminum alloy cups; large diameter spindle.', N'dfeba528-da11-4650-9d86-cafda7294eb0', CAST(N'2007-06-01 00:00:00.000' AS DateTime))
INSERT [Dbo].[ProductDescription] ([ProductDescriptionID], [Description], [rowguid], [ModifiedDate]) VALUES (5, N'Aluminum alloy cups and a hollow axle.', N'f7178da7-1a7e-4997-8470-06737181305e', CAST(N'2007-06-01 00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [Dbo].[ProductDescription] OFF
SET IDENTITY_INSERT [Dbo].[ProductModel] ON 

INSERT [Dbo].[ProductModel] ([ProductModelID], [Name], [CatalogDescription], [Instructions], [rowguid], [ModifiedDate]) VALUES (1, N'Classic Vest', NULL, NULL, N'29321d47-1e4c-4aac-887c-19634328c25e', CAST(N'2007-06-01 00:00:00.000' AS DateTime))
INSERT [Dbo].[ProductModel] ([ProductModelID], [Name], [CatalogDescription], [Instructions], [rowguid], [ModifiedDate]) VALUES (2, N'Cycling Cap', NULL, NULL, N'474fb654-3c96-4cb9-82df-2152eeffbdb0', CAST(N'2005-06-01 00:00:00.000' AS DateTime))
INSERT [Dbo].[ProductModel] ([ProductModelID], [Name], [CatalogDescription], [Instructions], [rowguid], [ModifiedDate]) VALUES (3, N'Full-Finger Gloves', NULL, NULL, N'a75483fe-3c47-4aa4-93cf-664b51192987', CAST(N'2006-06-01 00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [Dbo].[ProductModel] OFF
INSERT [Dbo].[ProductModelProductDescriptionCulture] ([ProductModelID], [ProductDescriptionID], [CultureID], [ModifiedDate]) VALUES (1, 1199, N'en    ', CAST(N'2007-06-01 00:00:00.000' AS DateTime))
INSERT [Dbo].[ProductModelProductDescriptionCulture] ([ProductModelID], [ProductDescriptionID], [CultureID], [ModifiedDate]) VALUES (1, 1467, N'ar    ', CAST(N'2007-06-01 00:00:00.000' AS DateTime))
INSERT [Dbo].[ProductModelProductDescriptionCulture] ([ProductModelID], [ProductDescriptionID], [CultureID], [ModifiedDate]) VALUES (1, 1589, N'fr    ', CAST(N'2007-06-01 00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [Dbo].[ProductReview] ON 

SET IDENTITY_INSERT [Dbo].[ProductReview] OFF
SET IDENTITY_INSERT [Dbo].[ProductSubcategory] ON 

INSERT [Dbo].[ProductSubcategory] ([ProductSubcategoryID], [ProductCategoryID], [Name], [rowguid], [ModifiedDate]) VALUES (1, 1, N'Mountain Bikes', N'2d364ade-264a-433c-b092-4fcbf3804e01', CAST(N'2002-06-01 00:00:00.000' AS DateTime))
INSERT [Dbo].[ProductSubcategory] ([ProductSubcategoryID], [ProductCategoryID], [Name], [rowguid], [ModifiedDate]) VALUES (2, 1, N'Road Bikes', N'000310c0-bcc8-42c4-b0c3-45ae611af06b', CAST(N'2002-06-01 00:00:00.000' AS DateTime))
INSERT [Dbo].[ProductSubcategory] ([ProductSubcategoryID], [ProductCategoryID], [Name], [rowguid], [ModifiedDate]) VALUES (3, 1, N'Touring Bikes', N'02c5061d-ecdc-4274-b5f1-e91d76bc3f37', CAST(N'2002-06-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [Dbo].[ProductSubcategory] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [AK_Culture_Name]    Script Date: 2015-01-22 16:06:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [AK_Culture_Name] ON [Dbo].[Culture]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [AK_Product_Name]    Script Date: 2015-01-22 16:06:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [AK_Product_Name] ON [Dbo].[Product]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [AK_Product_ProductNumber]    Script Date: 2015-01-22 16:06:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [AK_Product_ProductNumber] ON [Dbo].[Product]
(
	[ProductNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [AK_Product_rowguid]    Script Date: 2015-01-22 16:06:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [AK_Product_rowguid] ON [Dbo].[Product]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [AK_ProductCategory_Name]    Script Date: 2015-01-22 16:06:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [AK_ProductCategory_Name] ON [Dbo].[ProductCategory]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [AK_ProductCategory_rowguid]    Script Date: 2015-01-22 16:06:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [AK_ProductCategory_rowguid] ON [Dbo].[ProductCategory]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [AK_ProductDescription_rowguid]    Script Date: 2015-01-22 16:06:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [AK_ProductDescription_rowguid] ON [Dbo].[ProductDescription]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [AK_ProductModel_Name]    Script Date: 2015-01-22 16:06:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [AK_ProductModel_Name] ON [Dbo].[ProductModel]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [AK_ProductModel_rowguid]    Script Date: 2015-01-22 16:06:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [AK_ProductModel_rowguid] ON [Dbo].[ProductModel]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ProductReview_ProductID_Name]    Script Date: 2015-01-22 16:06:58 ******/
CREATE NONCLUSTERED INDEX [IX_ProductReview_ProductID_Name] ON [Dbo].[ProductReview]
(
	[ProductID] ASC,
	[ReviewerName] ASC
)
INCLUDE ( 	[Comments]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [AK_ProductSubcategory_Name]    Script Date: 2015-01-22 16:06:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [AK_ProductSubcategory_Name] ON [Dbo].[ProductSubcategory]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [AK_ProductSubcategory_rowguid]    Script Date: 2015-01-22 16:06:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [AK_ProductSubcategory_rowguid] ON [Dbo].[ProductSubcategory]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [Dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [FK_Product_ProductModel_ProductModelID] FOREIGN KEY([ProductModelID])
REFERENCES [Dbo].[ProductModel] ([ProductModelID])
GO
ALTER TABLE [Dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductModel_ProductModelID]
GO
ALTER TABLE [Dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [FK_Product_ProductSubcategory_ProductSubcategoryID] FOREIGN KEY([ProductSubcategoryID])
REFERENCES [Dbo].[ProductSubcategory] ([ProductSubcategoryID])
GO
ALTER TABLE [Dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductSubcategory_ProductSubcategoryID]
GO
ALTER TABLE [Dbo].[ProductModelProductDescriptionCulture]  WITH NOCHECK ADD  CONSTRAINT [FK_ProductModelProductDescriptionCulture_Culture_CultureID] FOREIGN KEY([CultureID])
REFERENCES [Dbo].[Culture] ([CultureID])
GO
ALTER TABLE [Dbo].[ProductModelProductDescriptionCulture] CHECK CONSTRAINT [FK_ProductModelProductDescriptionCulture_Culture_CultureID]
GO
ALTER TABLE [Dbo].[ProductModelProductDescriptionCulture]  WITH NOCHECK ADD  CONSTRAINT [FK_ProductModelProductDescriptionCulture_ProductDescription_ProductDescriptionID] FOREIGN KEY([ProductDescriptionID])
REFERENCES [Dbo].[ProductDescription] ([ProductDescriptionID])
GO
ALTER TABLE [Dbo].[ProductModelProductDescriptionCulture] CHECK CONSTRAINT [FK_ProductModelProductDescriptionCulture_ProductDescription_ProductDescriptionID]
GO
ALTER TABLE [Dbo].[ProductModelProductDescriptionCulture]  WITH NOCHECK ADD  CONSTRAINT [FK_ProductModelProductDescriptionCulture_ProductModel_ProductModelID] FOREIGN KEY([ProductModelID])
REFERENCES [Dbo].[ProductModel] ([ProductModelID])
GO
ALTER TABLE [Dbo].[ProductModelProductDescriptionCulture] CHECK CONSTRAINT [FK_ProductModelProductDescriptionCulture_ProductModel_ProductModelID]
GO
ALTER TABLE [Dbo].[ProductReview]  WITH NOCHECK ADD  CONSTRAINT [FK_ProductReview_Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [Dbo].[Product] ([ProductID])
GO
ALTER TABLE [Dbo].[ProductReview] CHECK CONSTRAINT [FK_ProductReview_Product_ProductID]
GO
ALTER TABLE [Dbo].[ProductSubcategory]  WITH NOCHECK ADD  CONSTRAINT [FK_ProductSubcategory_ProductCategory_ProductCategoryID] FOREIGN KEY([ProductCategoryID])
REFERENCES [Dbo].[ProductCategory] ([ProductCategoryID])
GO
ALTER TABLE [Dbo].[ProductSubcategory] CHECK CONSTRAINT [FK_ProductSubcategory_ProductCategory_ProductCategoryID]
GO
ALTER TABLE [Dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [CK_Product_Class] CHECK  ((upper([Class])='H' OR upper([Class])='M' OR upper([Class])='L' OR [Class] IS NULL))
GO
ALTER TABLE [Dbo].[Product] CHECK CONSTRAINT [CK_Product_Class]
GO
ALTER TABLE [Dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [CK_Product_DaysToManufacture] CHECK  (([DaysToManufacture]>=(0)))
GO
ALTER TABLE [Dbo].[Product] CHECK CONSTRAINT [CK_Product_DaysToManufacture]
GO
ALTER TABLE [Dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [CK_Product_ListPrice] CHECK  (([ListPrice]>=(0.00)))
GO
ALTER TABLE [Dbo].[Product] CHECK CONSTRAINT [CK_Product_ListPrice]
GO
ALTER TABLE [Dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [CK_Product_ProductLine] CHECK  ((upper([ProductLine])='R' OR upper([ProductLine])='M' OR upper([ProductLine])='T' OR upper([ProductLine])='S' OR [ProductLine] IS NULL))
GO
ALTER TABLE [Dbo].[Product] CHECK CONSTRAINT [CK_Product_ProductLine]
GO
ALTER TABLE [Dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [CK_Product_SellEndDate] CHECK  (([SellEndDate]>=[SellStartDate] OR [SellEndDate] IS NULL))
GO
ALTER TABLE [Dbo].[Product] CHECK CONSTRAINT [CK_Product_SellEndDate]
GO
ALTER TABLE [Dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [CK_Product_StandardCost] CHECK  (([StandardCost]>=(0.00)))
GO
ALTER TABLE [Dbo].[Product] CHECK CONSTRAINT [CK_Product_StandardCost]
GO
ALTER TABLE [Dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [CK_Product_Style] CHECK  ((upper([Style])='U' OR upper([Style])='M' OR upper([Style])='W' OR [Style] IS NULL))
GO
ALTER TABLE [Dbo].[Product] CHECK CONSTRAINT [CK_Product_Style]
GO
ALTER TABLE [Dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [CK_Product_Weight] CHECK  (([Weight]>(0.00)))
GO
ALTER TABLE [Dbo].[Product] CHECK CONSTRAINT [CK_Product_Weight]
GO
ALTER TABLE [Dbo].[ProductReview]  WITH NOCHECK ADD  CONSTRAINT [CK_ProductReview_Rating] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [Dbo].[ProductReview] CHECK CONSTRAINT [CK_ProductReview_Rating]
GO
USE [master]
GO
